$couleurfond: #ced4da;

* {
    margin: auto;
}

#container {
    max-width: 1200px;

    // <!-- bar navigaion -->
    #navbar {
        #list {
            list-style-type: none;
            margin: 2%;
            border-top: 1px solid;
            border-bottom: 1px solid;
            display: flex;
            justify-content: space-around;
            font-family: "Quattrocento Sans", sans-serif;
            font-weight: bolder;

            li {
                font-size: 200%;
            }

            .logo {
                height: 150px;
                width: auto;
                padding-right: 250px;
                padding-left: 100px;
            }

            a {
                text-decoration: none;
                color: black;
                transition: 0.3s;
            }
        }
    }

    // <!-- bar navigaion -->

    // presentation image/logo accueil
    .imgaccueil {
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        border-radius: 10px;

        h1 {
            background-color: black;
            height: 100%;
            width: 85%;

            img {
                height: 100%;
                width: 100%;
                opacity: 0.7;
                border-radius: 10px;
            }
        }

        h2 {
            position: absolute;
            height: auto;
            width: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            align-content: center;
        }
    }

    // presentation image/logo accueil

    // block experience
    .blocxp {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $couleurfond;
        height: auto;
        width: 85%;
        margin-top: 2%;
        padding: 0px 0%;
        border-radius: 10px;

        .textxp {
            img {
                display: flex;
                align-content: center;
                margin: auto;
                height: 200px;
                width: auto;
            }

            h1 {
                text-align: center;
                font-size: 70px;
                margin: auto;
                // font-family: ;
            }

            h2 {
                text-align: center;
                font-size: 30px;
                margin: 2%;
            }
        }

    }

    // block experience

    // block satisfaction

    .blocsatis {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $couleurfond;
        height: auto;
        width: 85%;
        margin: auto;
        margin-top: 2%;
        border-radius: 10px;

        .textsatis {
            img {
                display: flex;
                align-content: center;
                margin: auto;
                height: 200px;
                width: auto;
            }

            h1 {
                text-align: center;
                font-size: 70px;
                margin: auto;
            }

            h2 {
                text-align: center;
                font-size: 30px;
                margin: 2%;
            }
        }
    }

    // block satisfaction
    // block confiance
    .blocconf {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $couleurfond;
        height: auto;
        width: 85%;
        margin: auto;
        margin-top: 2%;
        border-radius: 10px;

        .textconf {
            img {
                display: flex;
                align-content: center;
                margin: auto;
                height: 200px;
                width: auto;
            }

            h1 {
                text-align: center;
                font-size: 70px;
                margin: auto;
            }

            h2 {
                text-align: center;
                font-size: 30px;
                margin: 2%;
            }
        }
    }

    // block confiance

    // block sécurité
    .blocsecu {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $couleurfond;
        height: auto;
        width: 85%;
        margin: auto;
        margin-top: 2%;
        border-radius: 10px;

        .textsecu {
            img {
                display: flex;
                align-content: center;
                margin: auto;
                height: 200px;
                width: auto;
            }

            h1 {
                text-align: center;
                font-size: 70px;
                margin: auto;
            }

            h2 {
                text-align: center;
                font-size: 30px;
                margin: 2%;
            }
        }
    }

    // block sécurité

    // img family

    .imgfamily {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(43, 43, 43);
        height: auto;
        width: 85%;
        margin: auto;
        margin-top: 2%;
        border-radius: 10px;

        img {
            height: 100%;
            width: 100%;
            opacity: 0.7;
            border-radius: 10px;
            opacity: 0.7;
        }
    }

    // img family
    // bloc family
    .blocfamily {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $couleurfond;
        height: auto;
        width: 85%;
        margin: auto;
        margin-top: 2%;
        border-radius: 10px;

        .textfamily {
            img {
                display: flex;
                align-content: center;
                margin: auto;
                height: 200px;
                width: auto;
            }

            h1 {
                text-align: center;
                font-size: 70px;
                margin: auto;
            }

            h2 {
                text-align: center;
                font-size: 30px;
                margin: 2%;
            }
        }
    }

    // bloc family
    // bouton annonce
    .Boutonannonce {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        margin-top: 2%;
        border-radius: 10px;

        h1 {
            a {
                background-color: rgba(187, 231, 243, 1);
                height: 70px;
                width: 240px;
                margin: auto;
                margin-top: 2%;
                border-radius: 10px;
                display: flex;
                justify-content: space-around;
                align-items: center;
                text-decoration: none;
                color: black;
                transition: 0.3s;
                margin: auto;
            }
        }
    }

    // bouton annonce
    // bloc footer

    .blocfooter {
        background-color: rgba(33, 37, 41, 1);
        height: 100px;
        width: 100%;
        margin: 0;
        margin-top: 2%;
        border-radius: 3px;

        .blocicones {
            display: flex;
            justify-content: space-around;
            align-items: center;
            padding: 15px;

            .facebook {
                padding-left: 45%;
            }

            .instagram {
                padding-right: 45%;
            }
        }

        .blocmention {
            display: flex;
            justify-content: space-around;
            align-items: center;
        }

        h1 {
            font-size: 20px;
            height: 20px;
            width: 31%;
            color: white;
            padding-right: 16%;
            margin: 0%;
        }

        a {
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            color: rgb(255, 255, 255);
            display: flex;
            align-items: center;
            padding-left: 20%;
            margin: 0px;
            transition: 0.3s;
            font-size: 20px;
            padding-right: 1%;
        }
    }

    // bloc footer


    // bloc article1
    .bloctop {
        display: flex;
        justify-content: space-around;

        .blocarticle1 {
            display: flex;
            justify-content: space-around;
            align-items: center;
            background-color: $couleurfond;
            height: auto;
            width: 45%;
            margin-top: 2%;
            padding: 0px 0%;
            border-radius: 10px;

            .textarticle1 {
                .imgaccueil {
                    margin: 23px;

                    img {
                        display: flex;
                        align-content: center;
                        margin: auto;
                        height: 300px;
                        width: 100%;
                        border-radius: 10px;
                    }
                }

                h1 {
                    text-align: center;
                    font-size: 23px;
                    margin: 5%;
                }

                h2 {
                    margin-bottom: 4%;

                    a {
                        background-color: rgba(187, 231, 243, 1);
                        height: 70px;
                        width: 240px;
                        margin: auto;
                        margin-top: 2%;
                        border-radius: 10px;
                        display: flex;
                        justify-content: space-around;
                        align-items: center;
                        text-decoration: none;
                        color: black;
                        transition: 0.3s;
                        margin: auto;
                    }
                }
            }

        }
    }

    .blocbot {
        display: flex;
        justify-content: space-around;

        .blocarticle1 {
            display: flex;
            justify-content: space-around;
            // align-items: center;
            background-color: $couleurfond;
            height: auto;
            width: 45%;
            margin-top: 2%;
            padding: 0px 0%;
            border-radius: 10px;

            .textarticle1 {
                .imgaccueil {
                    margin: 23px;

                    img {
                        display: flex;
                        align-content: center;
                        margin: auto;
                        height: 300px;
                        width: 100%;
                        border-radius: 10px;
                    }
                }

                h1 {
                    text-align: center;
                    font-size: 23px;
                    margin: 5%;
                }

                h2 {
                    margin-bottom: 4%;

                    a {
                        background-color: rgba(187, 231, 243, 1);
                        height: 70px;
                        width: 240px;
                        margin: auto;
                        margin-top: 2%;
                        border-radius: 10px;
                        display: flex;
                        justify-content: space-around;
                        align-items: center;
                        text-decoration: none;
                        color: black;
                        transition: 0.3s;
                        margin: auto;
                    }
                }
            }

        }
    }

    // bloc article1

    .boutonplandactivite {
        h1 {
            a {
                background-color: rgba(187, 231, 243, 1);
                height: 70px;
                width: 280px;
                margin: auto;
                margin-top: 2%;
                border-radius: 10px;
                display: flex;
                justify-content: space-around;
                align-items: center;
                text-decoration: none;
                color: black;
                transition: 0.3s;
                margin: auto;
            }
        }

    }



    #blocdetails {
        .blocdetails1 {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $couleurfond;
            height: 100px;
            width: 85%;
            margin-top: 2%;
            margin-bottom: 2%;
            border-radius: 10px;
        }

        .blocdetails2 {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $couleurfond;
            height: auto;
            width: 85%;
            margin-top: 2%;
            margin-bottom: 2%;
            border-radius: 10px;

        }

        .blocdetails3 {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            background-color: $couleurfond;
            height: auto;
            width: 85%;
            margin-top: 2%;
            margin-bottom: 2%;
            border-radius: 10px;
        }


        h1 {
            margin: 5%;
        }

    }


    .map {
        iframe {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            height: 600px;
            width: 85%;
            margin-top: 2%;
            margin-bottom: 2%;
            border-radius: 10px;
        }
    }


    #blocplan {
        .blocplan1 {

            h1 {
                display: flex;
                justify-content: start;
                align-items: center;
                background-color: $couleurfond;
                height: 250px;
                width: 70%;
                margin-top: 2%;
                margin-bottom: 2%;
                padding-left: 2%;
                border-radius: 10px;
            }
        }

        .blocplan2 {
            h1 {
                display: flex;
                justify-content: start;
                align-items: center;
                background-color: $couleurfond;
                height: 100px;
                width: 70%;
                margin-top: 2%;
                margin-bottom: 2%;
                padding-left: 2%;
                border-radius: 10px;
            }
        }

        .blocplan3 {
            h1 {
                display: flex;
                justify-content: start;
                align-items: center;
                background-color: $couleurfond;
                height: 250px;
                width: 70%;
                margin-top: 2%;
                margin-bottom: 2%;
                padding-left: 2%;
                border-radius: 10px;
            }
        }

        .blocplan4 {
            h1 {
                display: flex;
                justify-content: start;
                align-items: center;
                background-color: $couleurfond;
                height: 750px;
                width: 70%;
                margin-top: 2%;
                margin-bottom: 2%;
                padding-left: 2%;
                border-radius: 10px;
            }
        }
    }

    #contenuformulaire {
        h2 {
            display: flex;
            justify-content: center;
            align-items: center;
            align-content: center;
            margin-top: 6%;
            background-color: $couleurfond;
            height: 50px;
            width: 10%;
            border-radius: 10px;
        }

        #formulaire {
            align-items: center;
            align-content: center;
            background-color: $couleurfond;
            height: 300px;
            width: 50%;
            margin-top: 3%;
            border-radius: 10px;

            .colonne {
                display: flex;
                justify-content: center;
                align-items: center;
                align-content: center;

                #nom {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    align-content: center;
                    margin: 0;
                    margin-top: 5%;
                    margin-bottom: 5%;
                }

                #email {
                    display: flex;
                    justify-content: center;
                    margin: 0;
                    margin-top: 5%;
                    margin-bottom: 5%;
                }

                #message {
                    display: flex;
                    justify-content: center;
                    margin: 0;
                    margin-top: 5%;
                    margin-bottom: 10%;
                }

                .Boutonenvoyer {
                    display: flex;
                    justify-content: center;
                    margin: 0;
                    margin-top: 5%;
                    margin-bottom: 10%;
                    margin-left: 23%;
                }
            }
        }
    }

    #copyright {
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        margin-top: 135px;
    }

    #blocmention {
        .textmention1 {
            height: 100px;
            width: 30%;
            display: flex;
            align-items: center;
            align-content: center;

            h1 {
                // font-family: ;
                display: flex;
                align-items: center;
                align-content: center;
            }
        }

        .textmention2 {
            height: 100px;
            width: 60%;
            display: flex;
            justify-content: center;
            align-items: center;
            align-content: center;

            h1 {
                // font-family: ;
                font-size: 20px;
                text-align: center;
            }
        }

        .textmention3 {
            height: 100px;
            width: 30%;
            display: flex;
            align-items: center;
            align-content: center;

            h1 {
                // font-family: ;
            }
        }

        .textmention4 {
            height: 100px;
            width: 60%;
            display: flex;
            align-items: center;
            align-content: center;

            h1 {
                font-size: 20px;
                // font-family: ;
                text-align: center;
            }
        }

        .textmention5 {
            height: 100px;
            width: 30%;
            display: flex;
            align-items: center;
            align-content: center;

            h1 {
                // font-family: ;
                text-align: center;
            }
        }

        .textmention6 {
            height: 100px;
            width: 60%;
            display: flex;
            justify-content: start;
            align-items: center;
            align-content: center;

            h1 {
                // margin: 0px;
                font-size: 20px;
                // font-family: ;
                text-align: center;
            }
        }

        .textmention7 {
            height: 100px;
            width: 30%;
            display: flex;
            align-items: center;
            align-content: center;

            h1 {
                // font-family: ;
                text-align: center;
            }
        }

        .textmention8 {
            height: 100px;
            width: 60%;
            display: flex;
            justify-content: start;
            align-items: center;
            align-content: center;

            h1 {
                font-size: 20px;
                // font-family: ;
                text-align: center;
            }
        }

        .textmention9 {
            height: 100px;
            width: 30%;
            display: flex;
            align-items: center;
            align-content: center;

            h1 {
                // font-family: ;
                text-align: center;
            }
        }

        .textmention10 {
            height: 100px;
            width: 60%;
            display: flex;
            justify-content: start;
            align-items: center;
            align-content: center;

            h1 {
                font-size: 20px;
                // font-family: ;
                text-align: center;
            }
        }
    }

    // menu burger
    #navbar {
        #burger {
            position: relative;
            left: 52%;
            margin-top: 20px;
            font-size: 2.5rem;
            display: none;
            /* masque burger en grand */
        }
    }

    #navbar {
        #burger a {
            color: rgb(109, 109, 109);
        }
    }

    // menu burger



    /*=====================================Mediaqueries=========================================*/

    @media screen and (max-width:1100px) {
        #container{
            max-width: 1100px;
        }
    }

    @media screen and (max-width:1000px) {
        #container{
            max-width: 1000px;
        }
    }

    @media screen and (max-width:900px) {
        #container{
            max-width: 900px;
        }
    }

    @media screen and (max-width:800px) {
        #container{
            max-width: 800px;
        }
    }

    @media screen and (max-width:700px) {
        #container{
            max-width: 700px;
        }
    }
    
    @media screen and (max-width:600px) {
        #container{
            max-width: 600px;
        }
    }

    @media screen and (max-width:550px) {
        #container{
            max-width: 550px;
        }
    }

    @media screen and (max-width:500px) {
        #container{
            max-width: 500px;
        }
    }

    @media screen and (max-width:1200px) {
        #navbar {
            #list {
                list-style-type: none;
                width: 89%;

                li {
                    font-size: 30px;
                }

                .logo {
                    height: 150px;
                    width: auto;
                    padding-right: 50px;
                    padding-left: 50px;
                }

                a {
                    text-decoration: none;
                    color: black;
                    transition: 0.3s;
                }
            }
        }
    }

    @media screen and (max-width:1100px) {
        #navbar {
            width: 85%;

            #lsit {
                width: 75%;
                font-size: 20px;
                font-size: 10px;
            }

            li {
                font-size: 20px;
                margin-left: 1%;
                margin-right: 1%;
            }

            .logo {
                height: 150px;
                width: auto;
                padding-right: 25px;
                padding-left: 0px;
            }
        }
    }


    @media screen and (max-width:1000px) {
        #navbar {
            #list {
                li {
                    font-size: 20px;
                }

                .logo {
                    height: 100px;
                    width: auto;
                    padding-right: 0px;
                    padding-left: 0px;
                }

                a {
                    text-decoration: none;
                    color: black;
                    transition: 0.3s;
                }
            }
        }
    }


    @media screen and (max-width:700px) {
        #navbar {
            #list {
                display: none;
            }
            li{
                display: flex;
                justify-content: center;
            }
        }
    }

        // menu burger
    @media screen and (max-width:700px) {
        #navbar {
            #burger a:hover {
                color: #b1b1b1;
            }
        }

        #navbar {
            #burger {
                display: block;
            }
        }

        #navbar {
            ul {
                display: none;
            }
        }
    }
    

    


    @media screen and (max-width:1200px) {
        .imgaccueil {
            h2 {
                img {
                    height: 100%;
                    width: 70%;
                    border-radius: 10px;
                }
            }
        }
    }

    @media screen and (max-width:700px) {
        .imgaccueil {
            h2 {
                img {
                    height: 100%;
                    width: 40%;
                    border-radius: 10px;
                }
            }
        }
    }


    @media screen and (max-width:600px) {
        .blocxp {
            .textxp {
                img {
                    height: 100px;
                }

                h1 {
                    font-size: 40px;
                }

                h2 {
                    font-size: 20px;
                }
            }

        }
    }

    @media screen and (max-width:600px) {
        .blocsatis {
            .textsatis {
                img {

                    height: 100px;
                }

                h1 {
                    font-size: 40px;
                }

                h2 {
                    font-size: 20px;
                }
            }
        }
    }




    @media screen and (max-width:600px) {
        .blocsecu {
            .textsecu {
                img {
                    height: 100px;
                }

                h1 {
                    font-size: 40px;
                }

                h2 {
                    font-size: 20px;
                }
            }
        }
    }





    @media screen and (max-width:600px) {
        .blocconf {
            .textconf {
                img {
                    height: 100px;
                }

                h1 {
                    font-size: 40px;
                }

                h2 {
                    font-size: 20px;
                }
            }
        }
    }

    @media screen and (max-width:600px) {
        .blocfamily {
            .textfamily {
                img {
                    height: 100px;
                }

                h1 {
                    font-size: 40px;
                }

                h2 {
                    font-size: 20px;
                }
            }
        }
    }
    @media screen and (max-width:900px) {
        .blocfooter {
            .blocicones {
                padding: 15px;
                .facebook {
                    padding-left: 30%;
                }
                .instagram {
                    padding-right: 30%;
                }
            }
            .blocmention {
            }
            h1 {
                font-size: 20px;
                height: 20px;
                width: 38%;
                padding-right: 16%;
            }
            a {
                padding-left: 20%;
                font-size: 20px;
                padding-right: 1%;
            }
        }
    }
    @media screen and (max-width:800px) {
        .blocfooter {
            .blocicones {
                .facebook {}

                .instagram {}
            }
            .blocmention {}

            h1 {
                font-size: 15px;
                padding-right: 10%;
            }

            a {
                font-size: 15px;
                padding-right: 1%;
            }
        }
    }
    @media screen and (max-width:550px) {
        .blocfooter {
            .blocicones {
                .facebook {}

                .instagram {}
            }

            .blocmention {}

            h1 {
                width: 250px;
                font-size: 15px;
                padding-right: 0%;
            }

            a {
                font-size: 15px;
                padding-right: 0%;
            }
        }
    }
    @media screen and (max-width:500px) {
        .blocfooter {
            .blocicones {
                .facebook {}

                .instagram {}
            }
            .blocmention {}
            h1 {
                width: 250px;
                font-size: 15px;
                padding-right: 0%;
            }
            a {
                padding-left: 5%;
                font-size: 15px;
                padding-right: 0%;
            }
        }
    }
    @media screen and (max-width:500px) {
        .blocfooter {
            .blocicones {
                .facebook {}

                .instagram {}
            }
            .blocmention {}

            h1 {
                width: 210px;
                font-size: 15px;
                padding-right: 0%;
            }
            a {
                padding-left: 0%;
                font-size: 15px;
                padding-right: 0%;
            }
        }
    }
    // option hovers -->
    a:hover {
        color: rgb(231, 13, 13);
        text-shadow: 0 0 10px red, 0 0 20px red, 0 0 40px red, 0 0 80px red,
            0 0 120px red, 0 0 160px red;
    }

    // option hovers -->


    // nivo slider -->
    .nivo-caption {
        background-color: transparent;
    }
}