* {
  margin: auto;
  max-width: 1200px;
}

#container #navbar #list {
  list-style-type: none;
  padding: 0px;
  margin: 2%;
  border-top: 1px solid;
  border-bottom: 1px solid;
  display: flex;
  justify-content: space-around;
  padding: 0% 0%;
  font-family: "Quattrocento Sans", sans-serif;
  font-weight: bolder;
  list-style: none;
  align-items: center;
}
#container #navbar #list li {
  font-size: 200%;
}
#container #navbar #list .logo {
  height: 150px;
  width: auto;
  justify-content: space-around;
  padding-right: 250px;
  padding-left: 100px;
}
#container #navbar #list a {
  text-decoration: none;
  color: black;
  transition: 0.3s;
}
#container .imgaccueil {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  border-radius: 10px;
}
#container .imgaccueil h1 {
  background-color: black;
  height: 100%;
  width: 85%;
}
#container .imgaccueil h1 img {
  height: 100%;
  width: 100%;
  opacity: 0.7;
  border-radius: 10px;
}
#container .imgaccueil h2 {
  position: absolute;
  height: auto;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}
#container .blocxp {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ced4da;
  height: auto;
  width: 85%;
  margin-top: 2%;
  padding: 0px 0%;
  border-radius: 10px;
}
#container .blocxp .textxp img {
  display: flex;
  align-content: center;
  margin: auto;
  height: 200px;
  width: auto;
}
#container .blocxp .textxp h1 {
  text-align: center;
  font-size: 70px;
  text-shadow: 4px 3px 0 #7A7A7A;
  margin: auto;
}
#container .blocxp .textxp h2 {
  text-align: center;
  font-size: 30px;
  margin: 2%;
}
#container .blocsatis {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ced4da;
  height: auto;
  width: 85%;
  margin: auto;
  margin-top: 2%;
  border-radius: 10px;
}
#container .blocsatis .textsatis img {
  display: flex;
  align-content: center;
  margin: auto;
  height: 200px;
  width: auto;
}
#container .blocsatis .textsatis h1 {
  text-align: center;
  font-size: 70px;
  text-shadow: 4px 3px 0 #7A7A7A;
  margin: auto;
}
#container .blocsatis .textsatis h2 {
  text-align: center;
  font-size: 30px;
  margin: 2%;
}
#container .blocconf {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ced4da;
  height: auto;
  width: 85%;
  margin: auto;
  margin-top: 2%;
  border-radius: 10px;
}
#container .blocconf .textconf img {
  display: flex;
  align-content: center;
  margin: auto;
  height: 200px;
  width: auto;
}
#container .blocconf .textconf h1 {
  text-align: center;
  font-size: 70px;
  text-shadow: 4px 3px 0 #7A7A7A;
  margin: auto;
}
#container .blocconf .textconf h2 {
  text-align: center;
  font-size: 30px;
  margin: 2%;
}
#container .blocsecu {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ced4da;
  height: auto;
  width: 85%;
  margin: auto;
  margin-top: 2%;
  border-radius: 10px;
}
#container .blocsecu .textsecu img {
  display: flex;
  align-content: center;
  margin: auto;
  height: 200px;
  width: auto;
}
#container .blocsecu .textsecu h1 {
  text-align: center;
  font-size: 70px;
  text-shadow: 4px 3px 0 #7A7A7A;
  margin: auto;
}
#container .blocsecu .textsecu h2 {
  text-align: center;
  font-size: 30px;
  margin: 2%;
}
#container .imgfamily {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(43, 43, 43);
  height: auto;
  width: 85%;
  margin: auto;
  margin-top: 2%;
  border-radius: 10px;
}
#container .imgfamily img {
  height: 100%;
  width: 100%;
  opacity: 0.7;
  border-radius: 10px;
  opacity: 0.7;
}
#container .blocfamily {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ced4da;
  height: auto;
  width: 85%;
  margin: auto;
  margin-top: 2%;
  border-radius: 10px;
}
#container .blocfamily .textfamily img {
  display: flex;
  align-content: center;
  margin: auto;
  height: 200px;
  width: auto;
}
#container .blocfamily .textfamily h1 {
  text-align: center;
  font-size: 70px;
  margin: auto;
}
#container .blocfamily .textfamily h2 {
  text-align: center;
  font-size: 30px;
  margin: 2%;
}
#container .Boutonannonce {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 2%;
  border-radius: 10px;
}
#container .Boutonannonce h1 a {
  background-color: rgb(187, 231, 243);
  height: 70px;
  width: 240px;
  margin: auto;
  margin-top: 2%;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-decoration: none;
  color: black;
  transition: 0.3s;
  margin: auto;
}
#container .blocfooter {
  background-color: rgb(33, 37, 41);
  height: 100px;
  width: 100%;
  margin: 0;
  margin-top: 2%;
  border-radius: 3px;
}
#container .blocfooter .blocicones {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 15px;
}
#container .blocfooter .blocicones .facebook {
  padding-left: 45%;
}
#container .blocfooter .blocicones .instagram {
  padding-right: 45%;
}
#container .blocfooter .blocmention {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#container .blocfooter h1 {
  font-size: 20px;
  height: 20px;
  width: 31%;
  color: white;
  padding-right: 16%;
  margin: 0%;
}
#container .blocfooter a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  padding-left: 20%;
  margin: 0px;
  transition: 0.3s;
  font-size: 20px;
  padding-right: 1%;
}
#container .bloctop {
  display: flex;
  justify-content: space-around;
}
#container .bloctop .blocarticle1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #ced4da;
  height: auto;
  width: 45%;
  margin-top: 2%;
  padding: 0px 0%;
  border-radius: 10px;
}
#container .bloctop .blocarticle1 .textarticle1 .imgaccueil {
  margin: 23px;
}
#container .bloctop .blocarticle1 .textarticle1 .imgaccueil img {
  display: flex;
  align-content: center;
  margin: auto;
  height: 300px;
  width: 100%;
  border-radius: 10px;
}
#container .bloctop .blocarticle1 .textarticle1 h1 {
  text-align: center;
  font-size: 23px;
  margin: 5%;
}
#container .bloctop .blocarticle1 .textarticle1 h2 {
  margin-bottom: 4%;
}
#container .bloctop .blocarticle1 .textarticle1 h2 a {
  background-color: rgb(187, 231, 243);
  height: 70px;
  width: 240px;
  margin: auto;
  margin-top: 2%;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-decoration: none;
  color: black;
  transition: 0.3s;
  margin: auto;
}
#container .blocbot {
  display: flex;
  justify-content: space-around;
}
#container .blocbot .blocarticle1 {
  display: flex;
  justify-content: space-around;
  background-color: #ced4da;
  height: auto;
  width: 45%;
  margin-top: 2%;
  padding: 0px 0%;
  border-radius: 10px;
}
#container .blocbot .blocarticle1 .textarticle1 .imgaccueil {
  margin: 23px;
}
#container .blocbot .blocarticle1 .textarticle1 .imgaccueil img {
  display: flex;
  align-content: center;
  margin: auto;
  height: 300px;
  width: 100%;
  border-radius: 10px;
}
#container .blocbot .blocarticle1 .textarticle1 h1 {
  text-align: center;
  font-size: 23px;
  margin: 5%;
}
#container .blocbot .blocarticle1 .textarticle1 h2 {
  margin-bottom: 4%;
}
#container .blocbot .blocarticle1 .textarticle1 h2 a {
  background-color: rgb(187, 231, 243);
  height: 70px;
  width: 240px;
  margin: auto;
  margin-top: 2%;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-decoration: none;
  color: black;
  transition: 0.3s;
  margin: auto;
}
#container .boutonplandactivite h1 a {
  background-color: rgb(187, 231, 243);
  height: 70px;
  width: 280px;
  margin: auto;
  margin-top: 2%;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-decoration: none;
  color: black;
  transition: 0.3s;
  margin: auto;
}
#container #blocdetails .blocdetails1 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ced4da;
  height: 100px;
  width: 85%;
  margin-top: 2%;
  margin-bottom: 2%;
  border-radius: 10px;
}
#container #blocdetails .blocdetails2 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ced4da;
  height: auto;
  width: 85%;
  margin-top: 2%;
  margin-bottom: 2%;
  border-radius: 10px;
}
#container #blocdetails .blocdetails3 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #ced4da;
  height: auto;
  width: 85%;
  margin-top: 2%;
  margin-bottom: 2%;
  border-radius: 10px;
}
#container #blocdetails h1 {
  margin: 5%;
}
#container .map iframe {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 600px;
  width: 85%;
  margin-top: 2%;
  margin-bottom: 2%;
  border-radius: 10px;
}
#container #blocplan h1 {
  display: flex;
  justify-content: start;
  align-items: center;
  background-color: #ced4da;
  height: 250px;
  width: 70%;
  margin-top: 2%;
  margin-bottom: 2%;
  padding-left: 2%;
  border-radius: 10px;
}
#container #blocplan .blocplan2 h1 {
  display: flex;
  justify-content: start;
  align-items: center;
  background-color: #ced4da;
  height: 100px;
  width: 70%;
  margin-top: 2%;
  margin-bottom: 2%;
  padding-left: 2%;
  border-radius: 10px;
}
#container #blocplan .blocplan3 h1 {
  display: flex;
  justify-content: start;
  align-items: center;
  background-color: #ced4da;
  height: 250px;
  width: 70%;
  margin-top: 2%;
  margin-bottom: 2%;
  padding-left: 2%;
  border-radius: 10px;
}
#container #blocplan .blocplan4 h1 {
  display: flex;
  justify-content: start;
  align-items: center;
  background-color: #ced4da;
  height: 750px;
  width: 70%;
  margin-top: 2%;
  margin-bottom: 2%;
  padding-left: 2%;
  border-radius: 10px;
}
#container #contenuformulaire h2 {
  display: flex;
  justify-content: center;
  margin-top: 6%;
}
#container #contenuformulaire #formulaire {
  align-items: center;
  align-content: center;
  background-color: #ced4da;
  height: 300px;
  width: 50%;
  border-radius: 10px;
}
#container #contenuformulaire #formulaire .colonne {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}
#container #contenuformulaire #formulaire .colonne #nom {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 0;
  margin-top: 5%;
  margin-bottom: 5%;
}
#container #contenuformulaire #formulaire .colonne #email {
  display: flex;
  justify-content: center;
  margin: 0;
  margin-top: 5%;
  margin-bottom: 5%;
}
#container #contenuformulaire #formulaire .colonne #message {
  display: flex;
  justify-content: center;
  margin: 0;
  margin-top: 5%;
  margin-bottom: 10%;
}
#container #copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 3%;
  margin-top: 15.2%;
}
#container #navbar #burger {
  margin-top: 20px;
  font-size: 2.5rem;
  display: none;
  /* masque burger en grand */
}
#container #navbar #burger a {
  color: rgb(151, 0, 0);
}
@media screen and (max-width: 576px) {
  #container #navbar #burger a:hover {
    color: #fcdf3d;
  }
  #container #navbar #burger {
    display: block;
  }
  #container #navbar ul {
    display: none;
  }
}
#container a:hover {
  color: rgb(231, 13, 13);
  text-shadow: 0 0 10px red, 0 0 20px red, 0 0 40px red, 0 0 80px red, 0 0 120px red, 0 0 160px red;
}
#container .nivo-caption {
  background-color: transparent;
}

/*# sourceMappingURL=style.css.map */
