$couleurfond: #ced4da;

* {
    margin: auto;
    max-width: 1200px;
}

#container {

    // <!-- bar navigaion -->
    .navbar {
        #list {
            list-style-type: none;
            padding: 0px;
            margin: 2%;
            border-top: 1px solid;
            border-bottom: 1px solid;
            display: flex;
            justify-content: space-around;
            padding: 0% 0%;
            font-family: "Quattrocento Sans", sans-serif;
            font-weight: bolder;
            list-style: none;
            align-items: center;

            li {
                font-size: 200%;
            }

            .logo {
                height: 150px;
                width: auto;
                justify-content: space-around;
                padding-right: 250px;
                padding-left: 100px;
            }

            a {
                text-decoration: none;
                color: black;
                transition: 0.3s;
            }
        }
    }

    // <!-- bar navigaion -->

    // presentation image/logo accueil
    .imgaccueil {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;

        h1 {
            background-color: black;
            height: 100%;
            width: 85%;

            img {
                height: 100%;
                width: 100%;
                opacity: 0.7;
                border-radius: 10px;
            }
        }

        h2 {
            position: absolute;
            height: 50%;
            width: 30%;
        }
    }

    // presentation image/logo accueil

    // block experience
    .blocxp {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $couleurfond;
        height: auto;
        width: 85%;
        margin-top: 2%;
        padding: 0px 0%;
        border-radius: 10px;

        .textxp {
            img {
                display: flex;
                align-content: center;
                margin: auto;
                height: 200px;
                width: auto;
            }

            h1 {
                text-align: center;
                font-size: 70px;
                text-shadow: 4px 3px 0 #7A7A7A;
                margin: auto;
                // font-family: ;
            }

            h2 {
                text-align: center;
                font-size: 30px;
                margin: 2%;
            }
        }

    }

    // block experience

    // block satisfaction

    .blocsatis {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $couleurfond;
        height: auto;
        width: 85%;
        margin: auto;
        margin-top: 2%;
        border-radius: 10px;

        .textsatis {
            img {
                display: flex;
                align-content: center;
                margin: auto;
                height: 200px;
                width: auto;
            }

            h1 {
                text-align: center;
                font-size: 70px;
                text-shadow: 4px 3px 0 #7A7A7A;
                margin: auto;
            }

            h2 {
                text-align: center;
                font-size: 30px;
                margin: 2%;
            }
        }
    }

    // block satisfaction
    // block confiance
    .blocconf {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $couleurfond;
        height: auto;
        width: 85%;
        margin: auto;
        margin-top: 2%;
        border-radius: 10px;

        .textconf {
            img {
                display: flex;
                align-content: center;
                margin: auto;
                height: 200px;
                width: auto;
            }

            h1 {
                text-align: center;
                font-size: 70px;
                text-shadow: 4px 3px 0 #7A7A7A;
                margin: auto;
            }

            h2 {
                text-align: center;
                font-size: 30px;
                margin: 2%;
            }
        }
    }

    // block confiance

    // block sécurité
    .blocsecu {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $couleurfond;
        height: auto;
        width: 85%;
        margin: auto;
        margin-top: 2%;
        border-radius: 10px;

        .textsecu {
            img {
                display: flex;
                align-content: center;
                margin: auto;
                height: 200px;
                width: auto;
            }

            h1 {
                text-align: center;
                font-size: 70px;
                text-shadow: 4px 3px 0 #7A7A7A;
                margin: auto;
            }

            h2 {
                text-align: center;
                font-size: 30px;
                margin: 2%;
            }
        }
    }

    // block sécurité

    // img family

    .imgfamily {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(43, 43, 43);
        height: auto;
        width: 85%;
        margin: auto;
        margin-top: 2%;
        border-radius: 10px;

        img {
            height: 100%;
            width: 100%;
            opacity: 0.7;
            border-radius: 10px;
            opacity: 0.7;
        }
    }

    // img family
    // bloc family
    .blocfamily {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $couleurfond;
        height: auto;
        width: 85%;
        margin: auto;
        margin-top: 2%;
        border-radius: 10px;

        .textfamily {
            img {
                display: flex;
                align-content: center;
                margin: auto;
                height: 200px;
                width: auto;
            }

            h1 {
                text-align: center;
                font-size: 70px;
                // text-shadow: 4px 3px 0 #7A7A7A;
                margin: auto;
            }

            h2 {
                text-align: center;
                font-size: 30px;
                margin: 2%;
            }
        }
    }

    // bloc family
    // bouton annonce
    .Boutonannonce {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        margin-top: 2%;
        border-radius: 10px;

        h1 {
            a {
                background-color: rgba(187, 231, 243, 1);
                height: 70px;
                width: 240px;
                margin: auto;
                margin-top: 2%;
                border-radius: 10px;
                display: flex;
                justify-content: space-around;
                align-items: center;
                text-decoration: none;
                color: black;
                transition: 0.3s;
                margin: auto;
            }
        }
    }

    // bouton annonce
    // bloc footer
    .blocfooter {
        background-color: rgba(33, 37, 41, 1);
        height: 100px;
        width: 100%;
        margin: 0;
        margin-top: 2%;
        border-radius: 3px;

        .blocicones {
            display: flex;
            justify-content: space-around;
            align-items: center;
            padding: 15px;

            .facebook {
                padding-left: 45%;
            }

            .instagram {
                padding-right: 45%;
            }
        }

        .blocmention {
            display: flex;
            justify-content: space-around;
            align-items: center;
        }

        h1 {
            font-size: 20px;
            height: 20px;
            width: 31%;
            color: white;
            padding-right: 16%;
            margin: 0%;
        }

        a {
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            color: rgb(255, 255, 255);
            display: flex;
            align-items: center;
            padding-left: 20%;
            margin: 0px;
            transition: 0.3s;
            font-size: 20px;
            padding-right: 1%;
        }
    }

    // bloc footer


    // bloc article1
    .bloctop {
        display: flex;
        justify-content: space-around;

        .blocarticle1 {
            display: flex;
            justify-content: space-around;
            // align-items: center;
            background-color: $couleurfond;
            height: auto;
            width: 45%;
            margin-top: 2%;
            padding: 0px 0%;
            border-radius: 10px;

            .textarticle1 {
                .imgaccueil {
                    margin: 23px;

                    img {
                        display: flex;
                        align-content: center;
                        margin: auto;
                        height: 300px;
                        width: 100%;
                        border-radius: 10px;
                    }
                }

                h1 {
                    text-align: center;
                    font-size: 23px;
                    margin: 5%;
                }

                h2 {
                    margin-bottom: 4%;

                    a {
                        background-color: rgba(187, 231, 243, 1);
                        height: 70px;
                        width: 240px;
                        margin: auto;
                        margin-top: 2%;
                        border-radius: 10px;
                        display: flex;
                        justify-content: space-around;
                        align-items: center;
                        text-decoration: none;
                        color: black;
                        transition: 0.3s;
                        margin: auto;
                    }
                }
            }

        }
    }

    .blocbot {
        display: flex;
        justify-content: space-around;

        .blocarticle1 {
            display: flex;
            justify-content: space-around;
            // align-items: center;
            background-color: $couleurfond;
            height: auto;
            width: 45%;
            margin-top: 2%;
            padding: 0px 0%;
            border-radius: 10px;

            .textarticle1 {
                .imgaccueil {
                    margin: 23px;

                    img {
                        display: flex;
                        align-content: center;
                        margin: auto;
                        height: 300px;
                        width: 100%;
                        border-radius: 10px;
                    }
                }

                h1 {
                    text-align: center;
                    font-size: 23px;
                    margin: 5%;
                }

                h2 {
                    margin-bottom: 4%;

                    a {
                        background-color: rgba(187, 231, 243, 1);
                        height: 70px;
                        width: 240px;
                        margin: auto;
                        margin-top: 2%;
                        border-radius: 10px;
                        display: flex;
                        justify-content: space-around;
                        align-items: center;
                        text-decoration: none;
                        color: black;
                        transition: 0.3s;
                        margin: auto;
                    }
                }
            }

        }
    }

    // bloc article1

    .boutonplandactivite {
        h1 {
            a {
                background-color: rgba(187, 231, 243, 1);
                height: 70px;
                width: 280px;
                margin: auto;
                margin-top: 2%;
                border-radius: 10px;
                display: flex;
                justify-content: space-around;
                align-items: center;
                text-decoration: none;
                color: black;
                transition: 0.3s;
                margin: auto;
            }
        }

    }















    // option hovers -->
    a:hover {
        color: rgb(231, 13, 13);
        text-shadow: 0 0 10px red, 0 0 20px red, 0 0 40px red, 0 0 80px red,
            0 0 120px red, 0 0 160px red;
    }

    // option hovers -->


    // nivo slider -->
    .nivo-caption {
        background-color: transparent;
        top: 40%;
        left: 40%;
        font-size: 5rem;
    }
}