:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  background-color: white;
}

#container .navbar #list {
  list-style-type: none;
  padding: 0px;
  margin: 2%;
  border-top: 1px solid;
  border-bottom: 1px solid;
  display: flex;
  justify-content: space-around;
  padding: 0% 0%;
  font-family: "Quattrocento Sans", sans-serif;
  font-weight: bolder;
  list-style: none;
  align-items: center;
}
#container .navbar #list li {
  font-size: 200%;
}
#container .navbar #list .logo {
  height: 150px;
  width: auto;
  justify-content: space-around;
  padding-right: 250px;
  padding-left: 100px;
}
#container .navbar #list a {
  text-decoration: none;
  color: black;
  transition: 0.3s;
}
#container .imgaccueil {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
#container .imgaccueil h1 {
  background-color: black;
  height: 100%;
  width: 1000px;
}
#container .imgaccueil h1 img {
  height: 100%;
  width: 100%;
  opacity: 0.7;
  border-radius: 10px;
}
#container .imgaccueil h2 {
  position: absolute;
}
#container .blocxp {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ced4da;
  height: auto;
  width: 85%;
  margin: auto;
  padding: 0px 0%;
  border-radius: 10px;
}
#container .blocxp .textxp img {
  display: flex;
  align-content: center;
  margin: auto;
  height: 200px;
  width: auto;
}
#container .blocxp .textxp h1 {
  text-align: center;
  font-size: 70px;
  text-shadow: 4px 3px 0 #7A7A7A;
  margin: auto;
}
#container .blocxp .textxp h2 {
  text-align: center;
  font-size: 30px;
  display: flex;
  justify-content: space-around;
  margin: 2%;
}
#container .blocsatis {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ced4da;
  height: auto;
  width: 85%;
  margin: auto;
  margin-top: 2%;
  border-radius: 10px;
}
#container .blocsatis .textsatis img {
  display: flex;
  align-content: center;
  margin: auto;
  height: 200px;
  width: auto;
}
#container .blocsatis .textsatis h1 {
  text-align: center;
  font-size: 70px;
  text-shadow: 4px 3px 0 #7A7A7A;
  margin: auto;
}
#container .blocsatis .textsatis h2 {
  text-align: center;
  font-size: 30px;
  display: flex;
  justify-content: space-around;
  margin: 3%;
}
#container .blocconf {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ced4da;
  height: auto;
  width: 85%;
  margin: auto;
  margin-top: 2%;
  border-radius: 10px;
}
#container .blocconf .textconf img {
  display: flex;
  align-content: center;
  margin: auto;
  height: 200px;
  width: auto;
}
#container .blocconf .textconf h1 {
  text-align: center;
  font-size: 70px;
  text-shadow: 4px 3px 0 #7A7A7A;
  margin: auto;
}
#container .blocconf .textconf h2 {
  text-align: center;
  font-size: 30px;
  display: flex;
  justify-content: space-around;
  margin: 2%;
}
#container .blocsecu {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ced4da;
  height: auto;
  width: 85%;
  margin: auto;
  margin-top: 2%;
  border-radius: 10px;
}
#container .blocsecu .textsecu img {
  display: flex;
  align-content: center;
  margin: auto;
  height: 200px;
  width: auto;
}
#container .blocsecu .textsecu h1 {
  text-align: center;
  font-size: 70px;
  text-shadow: 4px 3px 0 #7A7A7A;
  margin: auto;
}
#container .blocsecu .textsecu h2 {
  text-align: center;
  font-size: 30px;
  display: flex;
  justify-content: space-around;
  margin: 2%;
}
#container .imgfamily {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(43, 43, 43);
  height: auto;
  width: 85%;
  margin: auto;
  margin-top: 2%;
  border-radius: 10px;
}
#container .imgfamily img {
  height: 100%;
  width: 100%;
  opacity: 0.7;
  border-radius: 10px;
  opacity: 0.7;
}
#container .blocfamily {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ced4da;
  height: auto;
  width: 85%;
  margin: auto;
  margin-top: 2%;
  border-radius: 10px;
}
#container .blocfamily .textfamily img {
  display: flex;
  align-content: center;
  margin: auto;
  height: 200px;
  width: auto;
}
#container .blocfamily .textfamily h1 {
  text-align: center;
  font-size: 70px;
  text-shadow: 4px 3px 0 #7A7A7A;
  margin: auto;
}
#container .blocfamily .textfamily h2 {
  text-align: center;
  font-size: 30px;
  display: flex;
  justify-content: space-around;
  margin: 1%;
}
#container .Boutonannonce {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(187, 231, 243);
  height: auto;
  width: 30%;
  margin: auto;
  margin-top: 2%;
  border-radius: 10px;
}
#container .Boutonannonce h1 a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: black;
  transition: 0.3s;
}
#container .blocfooter {
  background-color: rgb(33, 37, 41);
  height: 100px;
  width: 100%;
  margin: 0;
  margin-top: 2%;
  border-radius: 3px;
}
#container .blocfooter .blocicones {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 15px;
}
#container .blocfooter .blocicones .facebook {
  padding-left: 45%;
}
#container .blocfooter .blocicones .instagram {
  padding-right: 45%;
}
#container .blocfooter .blocmention {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#container .blocfooter h1 {
  font-size: 20px;
  height: 20px;
  width: 31%;
  color: white;
  padding-right: 16%;
}
#container .blocfooter a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  padding-left: 20%;
  margin: 0px;
  transition: 0.3s;
  font-size: 20px;
}
#container a:hover {
  color: rgb(231, 13, 13);
  text-shadow: 0 0 10px red, 0 0 20px red, 0 0 40px red, 0 0 80px red, 0 0 120px red, 0 0 160px red;
}

/*# sourceMappingURL=style.css.map */
