* {
  margin: auto;
}

#container {
  max-width: 1200px;
  /*=====================================Mediaqueries=========================================*/
}
#container #navbar #list {
  list-style-type: none;
  margin: 2%;
  border-top: 1px solid;
  border-bottom: 1px solid;
  display: flex;
  justify-content: space-around;
  font-family: "Quattrocento Sans", sans-serif;
  font-weight: bolder;
}
#container #navbar #list li {
  font-size: 200%;
}
#container #navbar #list .logo {
  height: 150px;
  width: auto;
  padding-right: 250px;
  padding-left: 100px;
}
#container #navbar #list a {
  text-decoration: none;
  color: black;
  transition: 0.3s;
}
#container .imgaccueil {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  border-radius: 10px;
}
#container .imgaccueil h1 {
  background-color: black;
  height: 100%;
  width: 85%;
}
#container .imgaccueil h1 img {
  height: 100%;
  width: 100%;
  opacity: 0.7;
  border-radius: 10px;
}
#container .imgaccueil h2 {
  position: absolute;
  height: auto;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}
#container .blocxp {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ced4da;
  height: auto;
  width: 85%;
  margin-top: 2%;
  padding: 0px 0%;
  border-radius: 10px;
}
#container .blocxp .textxp img {
  display: flex;
  align-content: center;
  margin: auto;
  height: 200px;
  width: auto;
}
#container .blocxp .textxp h1 {
  text-align: center;
  font-size: 70px;
  margin: auto;
}
#container .blocxp .textxp h2 {
  text-align: center;
  font-size: 30px;
  margin: 2%;
}
#container .blocsatis {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ced4da;
  height: auto;
  width: 85%;
  margin: auto;
  margin-top: 2%;
  border-radius: 10px;
}
#container .blocsatis .textsatis img {
  display: flex;
  align-content: center;
  margin: auto;
  height: 200px;
  width: auto;
}
#container .blocsatis .textsatis h1 {
  text-align: center;
  font-size: 70px;
  margin: auto;
}
#container .blocsatis .textsatis h2 {
  text-align: center;
  font-size: 30px;
  margin: 2%;
}
#container .blocconf {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ced4da;
  height: auto;
  width: 85%;
  margin: auto;
  margin-top: 2%;
  border-radius: 10px;
}
#container .blocconf .textconf img {
  display: flex;
  align-content: center;
  margin: auto;
  height: 200px;
  width: auto;
}
#container .blocconf .textconf h1 {
  text-align: center;
  font-size: 70px;
  margin: auto;
}
#container .blocconf .textconf h2 {
  text-align: center;
  font-size: 30px;
  margin: 2%;
}
#container .blocsecu {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ced4da;
  height: auto;
  width: 85%;
  margin: auto;
  margin-top: 2%;
  border-radius: 10px;
}
#container .blocsecu .textsecu img {
  display: flex;
  align-content: center;
  margin: auto;
  height: 200px;
  width: auto;
}
#container .blocsecu .textsecu h1 {
  text-align: center;
  font-size: 70px;
  margin: auto;
}
#container .blocsecu .textsecu h2 {
  text-align: center;
  font-size: 30px;
  margin: 2%;
}
#container .imgfamily {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(43, 43, 43);
  height: auto;
  width: 85%;
  margin: auto;
  margin-top: 2%;
  border-radius: 10px;
}
#container .imgfamily img {
  height: 100%;
  width: 100%;
  opacity: 0.7;
  border-radius: 10px;
  opacity: 0.7;
}
#container .blocfamily {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ced4da;
  height: auto;
  width: 85%;
  margin: auto;
  margin-top: 2%;
  border-radius: 10px;
}
#container .blocfamily .textfamily img {
  display: flex;
  align-content: center;
  margin: auto;
  height: 200px;
  width: auto;
}
#container .blocfamily .textfamily h1 {
  text-align: center;
  font-size: 70px;
  margin: auto;
}
#container .blocfamily .textfamily h2 {
  text-align: center;
  font-size: 30px;
  margin: 2%;
}
#container .Boutonannonce {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 2%;
  border-radius: 10px;
}
#container .Boutonannonce h1 a {
  background-color: rgb(187, 231, 243);
  height: 70px;
  width: 240px;
  margin: auto;
  margin-top: 2%;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-decoration: none;
  color: black;
  transition: 0.3s;
  margin: auto;
}
#container .blocfooter {
  background-color: rgb(33, 37, 41);
  height: 100px;
  width: 100%;
  margin: 0;
  margin-top: 2%;
  border-radius: 3px;
}
#container .blocfooter .blocicones {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 15px;
}
#container .blocfooter .blocicones .facebook {
  padding-left: 45%;
}
#container .blocfooter .blocicones .instagram {
  padding-right: 45%;
}
#container .blocfooter .blocmention {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#container .blocfooter h1 {
  font-size: 20px;
  height: 20px;
  width: 31%;
  color: white;
  padding-right: 16%;
  margin: 0%;
}
#container .blocfooter a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  padding-left: 20%;
  margin: 0px;
  transition: 0.3s;
  font-size: 20px;
  padding-right: 1%;
}
#container .bloctop {
  display: flex;
  justify-content: space-around;
}
#container .bloctop .blocarticle1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #ced4da;
  height: auto;
  width: 45%;
  margin-top: 2%;
  padding: 0px 0%;
  border-radius: 10px;
}
#container .bloctop .blocarticle1 .textarticle1 .imgaccueil {
  margin: 23px;
}
#container .bloctop .blocarticle1 .textarticle1 .imgaccueil img {
  display: flex;
  align-content: center;
  margin: auto;
  height: 300px;
  width: 100%;
  border-radius: 10px;
}
#container .bloctop .blocarticle1 .textarticle1 h1 {
  text-align: center;
  font-size: 23px;
  margin: 5%;
}
#container .bloctop .blocarticle1 .textarticle1 h2 {
  margin-bottom: 4%;
}
#container .bloctop .blocarticle1 .textarticle1 h2 a {
  background-color: rgb(187, 231, 243);
  height: 70px;
  width: 240px;
  margin: auto;
  margin-top: 2%;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-decoration: none;
  color: black;
  transition: 0.3s;
  margin: auto;
}
#container .blocbot {
  display: flex;
  justify-content: space-around;
}
#container .blocbot .blocarticle1 {
  display: flex;
  justify-content: space-around;
  background-color: #ced4da;
  height: auto;
  width: 45%;
  margin-top: 2%;
  padding: 0px 0%;
  border-radius: 10px;
}
#container .blocbot .blocarticle1 .textarticle1 .imgaccueil {
  margin: 23px;
}
#container .blocbot .blocarticle1 .textarticle1 .imgaccueil img {
  display: flex;
  align-content: center;
  margin: auto;
  height: 300px;
  width: 100%;
  border-radius: 10px;
}
#container .blocbot .blocarticle1 .textarticle1 h1 {
  text-align: center;
  font-size: 23px;
  margin: 5%;
}
#container .blocbot .blocarticle1 .textarticle1 h2 {
  margin-bottom: 4%;
}
#container .blocbot .blocarticle1 .textarticle1 h2 a {
  background-color: rgb(187, 231, 243);
  height: 70px;
  width: 240px;
  margin: auto;
  margin-top: 2%;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-decoration: none;
  color: black;
  transition: 0.3s;
  margin: auto;
}
#container .boutonplandactivite h1 a {
  background-color: rgb(187, 231, 243);
  height: 70px;
  width: 280px;
  margin: auto;
  margin-top: 2%;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-decoration: none;
  color: black;
  transition: 0.3s;
  margin: auto;
}
#container #blocdetails .blocdetails1 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ced4da;
  height: 100px;
  width: 85%;
  margin-top: 2%;
  margin-bottom: 2%;
  border-radius: 10px;
}
#container #blocdetails .blocdetails2 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ced4da;
  height: auto;
  width: 85%;
  margin-top: 2%;
  margin-bottom: 2%;
  border-radius: 10px;
}
#container #blocdetails .blocdetails3 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #ced4da;
  height: auto;
  width: 85%;
  margin-top: 2%;
  margin-bottom: 2%;
  border-radius: 10px;
}
#container #blocdetails h1 {
  margin: 5%;
}
#container .map iframe {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 600px;
  width: 85%;
  margin-top: 2%;
  margin-bottom: 2%;
  border-radius: 10px;
}
#container #blocplan .blocplan1 h1 {
  display: flex;
  justify-content: start;
  align-items: center;
  background-color: #ced4da;
  height: 250px;
  width: 70%;
  margin-top: 2%;
  margin-bottom: 2%;
  padding-left: 2%;
  border-radius: 10px;
}
#container #blocplan .blocplan2 h1 {
  display: flex;
  justify-content: start;
  align-items: center;
  background-color: #ced4da;
  height: 100px;
  width: 70%;
  margin-top: 2%;
  margin-bottom: 2%;
  padding-left: 2%;
  border-radius: 10px;
}
#container #blocplan .blocplan3 h1 {
  display: flex;
  justify-content: start;
  align-items: center;
  background-color: #ced4da;
  height: 250px;
  width: 70%;
  margin-top: 2%;
  margin-bottom: 2%;
  padding-left: 2%;
  border-radius: 10px;
}
#container #blocplan .blocplan4 h1 {
  display: flex;
  justify-content: start;
  align-items: center;
  background-color: #ced4da;
  height: 750px;
  width: 70%;
  margin-top: 2%;
  margin-bottom: 2%;
  padding-left: 2%;
  border-radius: 10px;
}
#container #contenuformulaire h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-top: 6%;
  background-color: #ced4da;
  height: 50px;
  width: 10%;
  border-radius: 10px;
}
#container #contenuformulaire #formulaire {
  align-items: center;
  align-content: center;
  background-color: #ced4da;
  height: 300px;
  width: 50%;
  margin-top: 3%;
  border-radius: 10px;
}
#container #contenuformulaire #formulaire .colonne {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}
#container #contenuformulaire #formulaire .colonne #nom {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 0;
  margin-top: 5%;
  margin-bottom: 5%;
}
#container #contenuformulaire #formulaire .colonne #email {
  display: flex;
  justify-content: center;
  margin: 0;
  margin-top: 5%;
  margin-bottom: 5%;
}
#container #contenuformulaire #formulaire .colonne #message {
  display: flex;
  justify-content: center;
  margin: 0;
  margin-top: 5%;
  margin-bottom: 10%;
}
#container #contenuformulaire #formulaire .colonne .Boutonenvoyer {
  display: flex;
  justify-content: center;
  margin: 0;
  margin-top: 5%;
  margin-bottom: 10%;
  margin-left: 23%;
}
#container #copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-top: 135px;
}
#container #blocmention .textmention1 {
  height: 100px;
  width: 30%;
  display: flex;
  align-items: center;
  align-content: center;
}
#container #blocmention .textmention1 h1 {
  display: flex;
  align-items: center;
  align-content: center;
}
#container #blocmention .textmention2 {
  height: 100px;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}
#container #blocmention .textmention2 h1 {
  font-size: 20px;
  text-align: center;
}
#container #blocmention .textmention3 {
  height: 100px;
  width: 30%;
  display: flex;
  align-items: center;
  align-content: center;
}
#container #blocmention .textmention4 {
  height: 100px;
  width: 60%;
  display: flex;
  align-items: center;
  align-content: center;
}
#container #blocmention .textmention4 h1 {
  font-size: 20px;
  text-align: center;
}
#container #blocmention .textmention5 {
  height: 100px;
  width: 30%;
  display: flex;
  align-items: center;
  align-content: center;
}
#container #blocmention .textmention5 h1 {
  text-align: center;
}
#container #blocmention .textmention6 {
  height: 100px;
  width: 60%;
  display: flex;
  justify-content: start;
  align-items: center;
  align-content: center;
}
#container #blocmention .textmention6 h1 {
  font-size: 20px;
  text-align: center;
}
#container #blocmention .textmention7 {
  height: 100px;
  width: 30%;
  display: flex;
  align-items: center;
  align-content: center;
}
#container #blocmention .textmention7 h1 {
  text-align: center;
}
#container #blocmention .textmention8 {
  height: 100px;
  width: 60%;
  display: flex;
  justify-content: start;
  align-items: center;
  align-content: center;
}
#container #blocmention .textmention8 h1 {
  font-size: 20px;
  text-align: center;
}
#container #blocmention .textmention9 {
  height: 100px;
  width: 30%;
  display: flex;
  align-items: center;
  align-content: center;
}
#container #blocmention .textmention9 h1 {
  text-align: center;
}
#container #blocmention .textmention10 {
  height: 100px;
  width: 60%;
  display: flex;
  justify-content: start;
  align-items: center;
  align-content: center;
}
#container #blocmention .textmention10 h1 {
  font-size: 20px;
  text-align: center;
}
#container #navbar #burger {
  position: relative;
  left: 52%;
  margin-top: 20px;
  font-size: 2.5rem;
  display: none;
  /* masque burger en grand */
}
#container #navbar #burger a {
  color: rgb(109, 109, 109);
}
@media screen and (max-width: 1100px) {
  #container #container {
    max-width: 1100px;
  }
}
@media screen and (max-width: 1000px) {
  #container #container {
    max-width: 1000px;
  }
}
@media screen and (max-width: 900px) {
  #container #container {
    max-width: 900px;
  }
}
@media screen and (max-width: 800px) {
  #container #container {
    max-width: 800px;
  }
}
@media screen and (max-width: 700px) {
  #container #container {
    max-width: 700px;
  }
}
@media screen and (max-width: 600px) {
  #container #container {
    max-width: 600px;
  }
}
@media screen and (max-width: 550px) {
  #container #container {
    max-width: 550px;
  }
}
@media screen and (max-width: 500px) {
  #container #container {
    max-width: 500px;
  }
}
@media screen and (max-width: 1200px) {
  #container #navbar #list {
    list-style-type: none;
    width: 89%;
  }
  #container #navbar #list li {
    font-size: 30px;
  }
  #container #navbar #list .logo {
    height: 150px;
    width: auto;
    padding-right: 50px;
    padding-left: 50px;
  }
  #container #navbar #list a {
    text-decoration: none;
    color: black;
    transition: 0.3s;
  }
}
@media screen and (max-width: 1100px) {
  #container #navbar {
    width: 85%;
  }
  #container #navbar #lsit {
    width: 75%;
    font-size: 20px;
    font-size: 10px;
  }
  #container #navbar li {
    font-size: 20px;
    margin-left: 1%;
    margin-right: 1%;
  }
  #container #navbar .logo {
    height: 150px;
    width: auto;
    padding-right: 25px;
    padding-left: 0px;
  }
}
@media screen and (max-width: 1000px) {
  #container #navbar #list li {
    font-size: 20px;
  }
  #container #navbar #list .logo {
    height: 100px;
    width: auto;
    padding-right: 0px;
    padding-left: 0px;
  }
  #container #navbar #list a {
    text-decoration: none;
    color: black;
    transition: 0.3s;
  }
}
@media screen and (max-width: 700px) {
  #container #navbar #list {
    display: none;
  }
  #container #navbar li {
    display: flex;
    justify-content: center;
  }
}
@media screen and (max-width: 700px) {
  #container #navbar #burger a:hover {
    color: #b1b1b1;
  }
  #container #navbar #burger {
    display: block;
  }
  #container #navbar ul {
    display: none;
  }
}
@media screen and (max-width: 1200px) {
  #container .imgaccueil h2 img {
    height: 100%;
    width: 70%;
    border-radius: 10px;
  }
}
@media screen and (max-width: 700px) {
  #container .imgaccueil h2 img {
    height: 100%;
    width: 40%;
    border-radius: 10px;
  }
}
@media screen and (max-width: 600px) {
  #container .blocxp .textxp img {
    height: 100px;
  }
  #container .blocxp .textxp h1 {
    font-size: 40px;
  }
  #container .blocxp .textxp h2 {
    font-size: 20px;
  }
}
@media screen and (max-width: 600px) {
  #container .blocsatis .textsatis img {
    height: 100px;
  }
  #container .blocsatis .textsatis h1 {
    font-size: 40px;
  }
  #container .blocsatis .textsatis h2 {
    font-size: 20px;
  }
}
@media screen and (max-width: 600px) {
  #container .blocsecu .textsecu img {
    height: 100px;
  }
  #container .blocsecu .textsecu h1 {
    font-size: 40px;
  }
  #container .blocsecu .textsecu h2 {
    font-size: 20px;
  }
}
@media screen and (max-width: 600px) {
  #container .blocconf .textconf img {
    height: 100px;
  }
  #container .blocconf .textconf h1 {
    font-size: 40px;
  }
  #container .blocconf .textconf h2 {
    font-size: 20px;
  }
}
@media screen and (max-width: 600px) {
  #container .blocfamily .textfamily img {
    height: 100px;
  }
  #container .blocfamily .textfamily h1 {
    font-size: 40px;
  }
  #container .blocfamily .textfamily h2 {
    font-size: 20px;
  }
}
@media screen and (max-width: 900px) {
  #container .blocfooter .blocicones {
    padding: 15px;
  }
  #container .blocfooter .blocicones .facebook {
    padding-left: 30%;
  }
  #container .blocfooter .blocicones .instagram {
    padding-right: 30%;
  }
  #container .blocfooter h1 {
    font-size: 20px;
    height: 20px;
    width: 38%;
    padding-right: 16%;
  }
  #container .blocfooter a {
    padding-left: 20%;
    font-size: 20px;
    padding-right: 1%;
  }
}
@media screen and (max-width: 800px) {
  #container .blocfooter h1 {
    font-size: 15px;
    padding-right: 10%;
  }
  #container .blocfooter a {
    font-size: 15px;
    padding-right: 1%;
  }
}
@media screen and (max-width: 550px) {
  #container .blocfooter h1 {
    width: 250px;
    font-size: 15px;
    padding-right: 0%;
  }
  #container .blocfooter a {
    font-size: 15px;
    padding-right: 0%;
  }
}
@media screen and (max-width: 500px) {
  #container .blocfooter h1 {
    width: 250px;
    font-size: 15px;
    padding-right: 0%;
  }
  #container .blocfooter a {
    padding-left: 5%;
    font-size: 15px;
    padding-right: 0%;
  }
}
@media screen and (max-width: 500px) {
  #container .blocfooter h1 {
    width: 210px;
    font-size: 15px;
    padding-right: 0%;
  }
  #container .blocfooter a {
    padding-left: 0%;
    font-size: 15px;
    padding-right: 0%;
  }
}
#container a:hover {
  color: rgb(231, 13, 13);
  text-shadow: 0 0 10px red, 0 0 20px red, 0 0 40px red, 0 0 80px red, 0 0 120px red, 0 0 160px red;
}
#container .nivo-caption {
  background-color: transparent;
}

/*# sourceMappingURL=style.css.map */
